<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSHARPCRUDMVC.Properties.Settings.SqlConnection" connectionString="Data Source=WIN-U412I9LKOT5\SQLEXPRESS;Initial Catalog=PetDbase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>